<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>719773844211-8nlkf771gmocqscjlk6m5a54gps4qoue.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.719773844211-8nlkf771gmocqscjlk6m5a54gps4qoue</string>
	<key>API_KEY</key>
	<string>AIzaSyAFp0ik196pxdOWbl3DlxZYCRca5kya3qw</string>
	<key>GCM_SENDER_ID</key>
	<string>719773844211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.smartWatchApp</string>
	<key>PROJECT_ID</key>
	<string>smart-watch-app-a393c</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-watch-app-a393c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:719773844211:ios:7951eb7e7c00c44a79ed86</string>
</dict>
</plist>